BOOK_DOMAIN = 'https://yourbookdomain.com'
COOKIES_DOMAIN = '.yourbookdomain.com'
BOOK_PATH = 'book'
LOGS_PATH = 'logs'
UIDCMS = 'your_uidcms_value'
UIF = 'your_uif_value'
EXPRESS_SID = 'your_express_sid_value'
RIGELCDP_SESSION_ID = 'your_rigelcdp_session_id_value'
GA = 'your_ga_value'